html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


header,
footer {
    height: 100px;
    background-color: indigo;
    text-align: center;
}

.headStyle {
    flex: 1 0 auto;
    text-align: center;
}

aside {
    justify-content: space-between;
    background: lavender;
}

.verticalLink {
    height: 100%;
    background-color: darkviolet;
    border: 1px solid violet;
}

.main-blc {
    flex: 1 0 auto;
}

.pad {
    padding: 2%;
}

.border {
    border: 10px solid white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 0.3%;
}
.container-img{
    height: 100%;
    width: 100px;
}

.img-row {
    width: 100%;
    height: auto;
}


.txt-center {
    text-align: center;
}

.row-1 {
    justify-content: center;
}

.row-2 {
    background-color: darkviolet;
}

.row-3 {
    background-color: violet;
}

.row-3-txt-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-txt {
    display: flex;
    align-items: center;
    border: 10px solid white;
}

.row-4 {
    background-color: darkviolet;
}

.row-5-img {
    width: 100%;
    height: auto;
}

.background-row-5-lft {
    background-color: darkviolet;
}

.background-row-5-right {
    background-color: violet;
}

.container-row-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.row-5-img-2 {
    width: auto;
    height: 100%;
}

.row-5-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}

.row-5-txt-height{
    height: 50%;
}



